<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Frm_DangNhap.Properties.Settings.LTWNC" connectionString="Data Source=SONYVAIO-PC\LINH;Initial Catalog=ql_tourdulich;Persist Security Info=True;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
      
    
    </startup>
</configuration>