<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><connectionStrings><add name="QuanLiTourDuLichEntities" connectionString="metadata=res://*/QLTourDuLich.csdl|res://*/QLTourDuLich.ssdl|res://*/QLTourDuLich.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LIJ5HIK\SQLEXPRESS;initial catalog=QuanLiTourDuLich;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
